{{define "detector_fields_authbypass"}}<div id="detector-fields">
<label for="protected_paths">Protected paths (--protected-paths, comma-separated, required)</label>
<input type="text" id="protected_paths" name="protected_paths" value="{{.ProtectedPaths}}" required>
<label for="login_paths">Login paths (--login-paths, comma-separated, optional)</label>
<input type="text" id="login_paths" name="login_paths" value="{{.LoginPaths}}">
<label for="logout_paths">Logout paths (--logout-paths, comma-separated, optional)</label>
<input type="text" id="logout_paths" name="logout_paths" value="{{.LogoutPaths}}">
</div>
{{end}}
